{{!-- <h3>Example variable should be below: </h3>
{{ exampleVariable }} --}}
<h3>Person: </h3>
    {{ username3 }}
    <br>
    Height: {{ height3 }} cm
    <br>
    Mass: {{ mass3 }} kg
    <br>
    Gender: {{ gender3 }}